<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burberry</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>

<div class="product_area product_area_two mb-65">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>Burberry</h2>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="row">
        <div class="product_carousel product_column4 owl-carousel">
          <div th:each="perfume : ${perfumes}" th:if="${perfume.category.name == 'Burberry'}">
                <div class="col-lg-3">
                  <article class="single_product">
                    <figure>
                      <div class="product_thumb">
                        <a href="#" class="primary_img">
                          <img th:src="@{/images/} + ${perfume.getImage()}" alt="">
                        </a>
                        <a href="#" class="secondary_img">
                          <img th:src="@{/images/} + ${perfume.getImage()}" alt="">
                        </a>
                        <div class="action_links">
                          <ul>
                            <li class="add_to_cart">
                              <form th:action="@{/perfumes/add-to-cart}" method="post" class="d-inline">
                                <input type="hidden" name="id" th:value="${perfume.getId()}">
                                <input type="hidden" name="name" th:value="${perfume.getTitle()}">
                                <input type="hidden" name="price" th:value="${perfume.getPrice()}">
                                <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to add this book to cart?')"><i class="fa fa-shopping-cart"></i></button>
                              </form>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <figcaption class="product_content">
                        <h4 class="product_name">
                          <a th:href="@{/perfumes/detail/{id}(id=${perfume.getId()})}"><td th:text="${perfume.getTitle()}"></td></a>
                        </h4>
                        <div class="price_box">
                          <span class="current_price"><td th:text="${perfume.getPrice()}"></td></span>
                        </div>
                        <div class="product_rating">
                          <ul>
                            <li>
                              <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </figcaption>
                    </figure>
                  </article>
                </div>

              </div>

        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>