<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfume List</title>
    <th:block th:replace="~{layoutad::link-css}"></th:block>

</head>
<body>
<th:block th:replace="~{layoutad::header}"></th:block>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th >Id</th>
            <th >Name</th>
            <th >Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getRole().getName()}"></td>
            <td colspan="2">
                <a class="btn btn-primary" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/users/edit/{id}(id=${user.getId()})}">Edit</a>
                <a class="btn btn-danger" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/users/delete/{id}(id=${user.getId()})}" onclick="return confirm('Are you sure you want to delete this book?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{layoutad::footer}"></th:block>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/simplebar.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/jquery-min.js}"></script>
</body>
</html>