<div class="product_area product_area_two mb-65">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>New Products</h2>
          <div class="product_tab_btn">
            <ul class="nav" role="tablist">
              <li>
                <a href="#Men" class="active" data-toggle="tab" role="tab" aria-controls="Men" aria-selected="true">
                  Men
                </a>
              </li>
              <li>
                <a href="#Women" data-toggle="tab" role="tab" aria-controls="Women" aria-selected="false">
                  Women
                </a>
              </li>
              <li>
                <a href="#Unisex" data-toggle="tab" role="tab" aria-controls="Unisex" aria-selected="false">
                  Unisex
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="Men" role="tabpanel">
        <div class="row">
          <div class="product_carousel product_column4 owl-carousel">
            <div class="col-lg-3">
              <article class="single_product">
                <figure>
                  <div class="product_thumb">
                    <a href="#" class="primary_img">
                      <img src="products/Men/1-1.png" alt="">
                    </a>
                    <a href="#" class="secondary_img">
                      <img src="8products/Men/1-2.png" alt="">
                    </a>
                    <div class="action_links">
                      <ul>
                        <li class="add_to_cart">
                          <a href="#" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <figcaption class="product_content">
                    <h4 class="product_name">
                      <a href="#">Jaguar Men Classic EDT</a>
                    </h4>
                    <div class="price_box">
                      <span class="current_price">Rs. 2046</span>
                    </div>
                    <div class="product_rating">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="tab-pane fade" id="Women" role="tabpanel">
        <div class="row">
          <div class="product_carousel product_column4 owl-carousel">
            <div class="col-lg-3">
              <article class="single_product">
                <figure>
                  <div class="product_thumb">
                    <a href="#" class="primary_img">
                      <img src="products/Women/1-1.png" alt="">
                    </a>
                    <a href="#" class="secondary_img">
                      <img src="products/Women/1-2.png" alt="">
                    </a>
                    <div class="action_links">
                      <ul>
                        <li class="add_to_cart">
                          <a href="#" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <figcaption class="product_content">
                    <h4 class="product_name">
                      <a href="#">Dolce & Gabbana Women The Only</a>
                    </h4>
                    <div class="price_box">
                      <span class="current_price">Rs. 9000</span>
                    </div>
                    <div class="product_rating">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Unisex" role="tabpanel">
        <div class="row">
          <div class="product_carousel product_column4 owl-carousel">
            <div class="col-lg-3">
              <article class="single_product">
                <figure>
                  <div class="product_thumb">
                    <a href="#" class="primary_img">
                      <img src="products/Unisex/1-1.png" alt="">
                    </a>
                    <a href="#" class="secondary_img">
                      <img src="products/Unisex/1-2.png" alt="">
                    </a>
                    <div class="action_links">
                      <ul>
                        <li class="add_to_cart">
                          <a href="#" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <figcaption class="product_content">
                    <h4 class="product_name">
                      <a href="#">Ajmal Unisex Oudesiere Oriental</a>
                    </h4>

                    <div class="price_box">
                      <span class="current_price">Rs. 8255</span>
                    </div>
                    <div class="product_rating">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>