<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{layoutad::link-css}"></th:block>
  <title>Edit Category</title>
</head>
<body>
<th:block th:replace="~{layoutad::header}"></th:block>
<div class="container">
  <form th:action="@{/categories/edit}" th:object ="${category}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="name">Name: </label>
      <input class="form-control" type="text" th:field="*{name}" id="name">
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
    <a th:href="@{/categories}" class="btn btn-danger">Cancel</a>

  </form>

</div>
<th:block th:replace="~{layoutad::footer}"></th:block>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/simplebar.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/jquery-min.js}"></script>
</body>
</html>