<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/animate.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/nice-select.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:fragment="custom-css" rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body class="d-flex flex-column h-100">
  <header th:fragment="header">
    <div class="main_header header_transparent header-mobile-m">
      <div class="header_container sticky-header">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-2">
              <div class="logo">
                <a href="index.html"><img src="logo.png" alt=""></a>
              </div>
            </div>

            <div class="col-lg-6">
              <!-- main-menu starts -->
              <div class="main_menu menu_two menu_position">
                <nav>
                  <ul>
                    <li>
                      <a href="/perfumes" class="active">Home</a>
                    </li>

                    <li >
                      <a href="#">Brands <i class="fa fa-angle-down"></i></a>
                      <ul class="sub_menu">
                        <li><a href="/perfumes/dior">Dior</a></li>
                        <li><a href="/perfumes/chanel">Chanel</a></li>
                        <li><a href="/perfumes/gucci">Gucci</a></li>
                        <li><a href="/perfumes/burberry">Burberry</a></li>
                        <li><a href="/perfumes/lancome">Lancome</a></li>
                      </ul>
                    </li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </nav>
              </div>

              <!-- main menu ends -->
            </div>
            <div class="col-lg-4">
              <div class="header_top_right">
                <div class="header_right_info">
                  <ul>
                    <li class="search_box">
                      <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                      <div class="search_widget">
                        <form th:action="@{/perfumes/search}"
                              method="get">
                          <input  type="text" placeholder="Search Your Perfume" aria-label="Search" name="keyword">
                          <button  type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                    </li>
                    <li class="mini_cart_wrapper">
                      <a href="/cart">
                        <i class="fa fa-shopping-cart"></i>
                      </a>

                      <!-- mini cart ends -->
                    </li>
                  </ul>
                </div>
                <div class="header_account">
                  <ul>
                    <li class="top_links">
                      <a href="#">
                        <i class="fa fa-cog"></i>
                      </a>
                      <ul class="dropdown_links">
                        <li sec:authorize="isAuthenticated()">
                          <a href="/logout">
                            Logout
                          </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                          <a href="/login">
                            Login
                          </a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')">
                            <a href="/perfumes/ad">Dash Board</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
  <div th:fragment="content"></div>
</div>
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
  <footer class="footer_widgets color_two">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="widgets_container contact_us">
              <div class="footer_logo">
                <a href="#"><img src="logo.png" alt="Logo"></a>
              </div>
              <div class="footer_desc">
                <p>Get all types of perfume from us within 2 day delivery. We can even order the perfumes which are not in our database. To do that kindly send a E-mail to the company's mail id.</p>
              </div>
              <p>
                <span>Address :</span> International Business Center, Vesu, Surat, Gujarat
              </p>
              <p><span>Email :</span> <a href="#">deo@gmail.com</a></p>
              <p><span>Phone :</span> <a href="tel: +91 8888884444">+91 8888884444</a> </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5">
            <div class="widgets_container widget_menu">
              <h3>Information</h3>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Prices Drop</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="widgets_container widgets_p_product">
              <h3>Featured Products</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="widgets_container widgets_p_product">
              <h3>Most Viewed Products</h3>
            </div>
        </div>
      </div>
    </div>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/countdown.js}"></script>
  <script th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>